.field-with-icon {
    position: relative;
}

.field-with-icon input {
    padding-right: 50px;
}

.field-with-icon i,
.field-with-icon img {
    right: 15px;
    position: absolute;
    cursor:pointer;
}
.field-with-icon i {
    top: 12px;
}
.field-with-icon img {
    top: 7px;
}
